h1,
h2,
h3,
h4 {
  font-family: "Cormorant Unicase", serif;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/CormorantUnicase-Regular.ttf");
}

body,
p,
span {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/GowunDodum-Regular.ttf");
}

/* Global vertical spacing between homepage sections */
