body:has(#homepage-content) {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-height: 100vh;
    max-width: 1536px;
}

body,
p,
span {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1 1000;
    font-style: normal;
    src: url("/static/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

h1,
h2,
h3,
h4 {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 1 1000;
    font-style: normal;
}

footer > div > p {
    font-size: 0.75rem;
}

/* Global heading sizes */
h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem;
}

h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem;
}

h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;
}

h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem;
}

/* Global paragraph size */
p {
    font-size: 1.25rem; /* 16px */
    line-height: 1.625rem;
}

body > .min-h-\[148px\] {
    min-height: 0 !important;
}
.card {
    perspective: 1000px;
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card.is-flipped .card__inner {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari fix */
    transition: opacity 0.3s ease;
}

.card__back {
    transform: rotateY(180deg);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-visible {
    opacity: 1;
}

.link-with-arrow__link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* Arrow hidden by default */
.link-with-arrow__icon {
    width: 0rem;
    height: 0rem;
    opacity: 0;
    transform: translateX(-6px);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        width 0.3s ease,
        height 0.3s ease;
}

.link-with-arrow__link:hover .link-with-arrow__icon,
.link-with-arrow__link:focus-visible .link-with-arrow__icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    transform: translateX(0);
}

.btn_scale {
    transition: 0.2s;
}

.btn_scale:hover {
    transform: scale(1.25);
}

@media (min-width: 640px) {
    h1 {
        font-size: 3rem; /* 48px */
        line-height: 1.2;
    }

    h2 {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem;
    }

    p {
        font-size: 1.5rem; /* 18px */
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    /* Responsive heading sizes for large screens */
    h1 {
        font-size: 3.75rem; /* 60px */
        line-height: 1.1;
    }

    h2 {
        font-size: 3rem; /* 48px */
        line-height: 1.2;
    }

    h3 {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem;
    }
    p {
        font-size: 1.25rem; /* 18px */
        line-height: 1.75rem;
    }
}
