html {
    overscroll-behavior: none;
}

body {
    padding-left: 0;
    padding-right: 0;
}

body,
p,
span {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/GowunDodum-RegularAbout.ttf");
}

h1,
h2,
h3,
h4 {
    font-family: "Cormorant Unicase", serif;
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/CormorantUnicase-Regular.ttf");
}

.quote {
    align-self: flex-start;
}

.wrapper_quote {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100vh;
}

.wrapper_services {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.card {
    perspective: 1000px;
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card.is-flipped .card__inner {
    transform: rotateY(180deg);
}

.card__front,
.card__back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari fix */
    transition: opacity 0.3s ease;
}

.card__back {
    transform: rotateY(180deg);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-visible {
    opacity: 1;
}

.link-with-arrow__link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

/* Arrow hidden by default */
.link-with-arrow__icon {
    width: 0rem;
    height: 0rem;
    opacity: 0;
    transform: translateX(-6px);
    transition:
        opacity 0.2s ease,
        transform 0.2s ease,
        width 0.3s ease,
        height 0.3s ease;
}

.link-with-arrow__link:hover .link-with-arrow__icon,
.link-with-arrow__link:focus-visible .link-with-arrow__icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    transform: translateX(0);
}

.btn_scale {
    transition: 0.2s;
}

.btn_scale:hover {
    transform: scale(1.25);
}

.img_overlay {
    background-color: rgb(0 0 0 / 0.75);
    opacity: 0.6;
}

.hero_content {
    position: absolute;
    bottom: 25%;
}

@media (min-width: 640px) {
    .wrapper_services {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.75rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        height: 24rem;
        column-gap: 0.25rem;
    }
}

@media (min-width: 853px) {
    .wrapper_services {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 36rem;
        column-gap: 0.5rem;
    }
}

@media (min-width: 640px) {
    .wrapper_quote {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 60vh;
        align-content: start;
    }
}

@media (min-width: 853px) {
    .wrapper_quote {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 90vh;
        align-content: center;
        width: 100%;
        padding-left: 4rem; /* Add horizontal padding */
        padding-right: 4rem;
    }
}

@media (min-width: 1024px) {
    .wrapper_quote {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 50vh;
        align-content: center;
        width: 100%;
        padding-left: 5rem; /* Increase horizontal padding */
        padding-right: 5rem;
    }
}

@media (min-width: 1280px) {
    .wrapper_quote {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 70vh;
        align-content: start;
        width: 100%;
        padding-left: 8rem; /* Increase horizontal padding */
        padding-right: 8rem;
    }
}

@media (min-width: 640px) {
    .quote {
        align-self: center;
    }
}
